repos:
  - repo: local
    hooks:
      - id: ruff
        name: ruff
        entry: ruff check --fix
        language: system
        types: [python]
        always_run: true
      - id: ruff-format
        name: ruff format
        entry: ruff format
        language: system
        types: [python]
        always_run: true
      - id: mypy
        name: mypy
        entry: mypy --config-file=pyproject.toml .
        language: system
        pass_filenames: false
        always_run: true
      - id: pytest
        name: pytest with coverage
        entry: pytest --cov=pdf_toolbox --cov-report=xml --cov-report=term-missing --cov-fail-under=50
        language: system
        pass_filenames: false
