repos:
- repo: local
  hooks:
  - id: ruff
    name: ruff
    entry: ruff check --fix
    language: system
    types: [python]
    always_run: true
  - id: ruff-format
    name: ruff format
    entry: ruff format
    language: system
    types: [python]
    always_run: true
  - id: mypy
    name: mypy
    entry: mypy --config-file=pyproject.toml .
    language: system
    pass_filenames: false
    always_run: true
  - id: pytest
    name: pytest with coverage
    entry: pytest --cov=pdf_toolbox --cov-report=xml --cov-report=term-missing
    language: system
    pass_filenames: false
  - id: coverage-per-file
    name: coverage per file
    entry: python scripts/check_coverage.py
    language: system
    pass_filenames: false
    always_run: true
- repo: https://github.com/executablebooks/mdformat
  rev: 0.7.22
  hooks:
  - id: mdformat
    additional_dependencies: [mdformat-gfm]
- repo: https://github.com/macisamuele/language-formatters-pre-commit-hooks
  rev: v2.9.0
  hooks:
  - id: pretty-format-yaml
    args: [--autofix]
    additional_dependencies: [setuptools]
