repos:
  - repo: local
    hooks:
      - id: ruff-format
        name: ruff format
        entry: ruff format
        language: system
        types: [python]
        alias: format
        always_run: true

      - id: mdformat
        name: mdformat
        entry: mdformat
        language: system
        types: [markdown]
        alias: format

      - id: pretty-format-yaml
        name: pretty-format-yaml
        entry: pretty-format-yaml --autofix --indent 2 --offset 2 --preserve-quotes
        language: system
        types: [yaml]
        exclude: ^\.pre-commit-config\.yaml$
        alias: format

      - id: ruff
        name: ruff
        entry: ruff check --fix
        language: system
        types: [python]
        alias: lint
        always_run: true

      - id: mypy
        name: mypy
        entry: mypy --config-file=pyproject.toml .
        language: system
        pass_filenames: false
        alias: lint
        always_run: true

      - id: bandit
        name: bandit
        entry: bandit -q -r src scripts
        language: system
        pass_filenames: false
        alias: lint

      - id: pytest
        name: pytest with coverage
        entry: pytest --cov=pdf_toolbox --cov-report=xml --cov-report=term-missing
        language: system
        pass_filenames: false
        alias: tests

      - id: coverage-per-file
        name: coverage per file
        entry: python scripts/check_coverage.py
        language: system
        pass_filenames: false
        alias: tests
        always_run: true

