repos:
  - repo: local
    hooks:
      - id: generate-exception-overview
        name: "lint: generate exception overview"
        entry: python scripts/generate_exception_overview.py
        language: system
        pass_filenames: false
        always_run: true
        alias: lint
        stages: [pre-commit, pre-push, manual]

      - id: ruff
        name: "lint: ruff"
        entry: ruff check --fix
        language: system
        types: [python]
        alias: lint
        stages: [pre-commit, pre-push, manual]

      - id: mypy
        name: "lint: mypy"
        entry: mypy --config-file=pyproject.toml .
        language: system
        types: [python]
        pass_filenames: false
        alias: lint
        stages: [pre-commit, pre-push, manual]

      - id: bandit
        name: "lint: bandit"
        entry: bandit -q -r src scripts
        language: system
        types: [python]
        pass_filenames: false
        alias: lint
        stages: [pre-commit, pre-push, manual]

      - id: check-locales
        name: "lint: check-locales"
        entry: python scripts/check_locales.py
        language: system
        types: [json]
        pass_filenames: false
        alias: lint
        stages: [pre-commit, pre-push, manual]

      - id: ruff-format
        name: "format: ruff"
        entry: ruff format
        language: system
        types: [python]
        alias: format
        stages: [pre-commit, pre-push, manual]

      - id: mdformat
        name: "format: mdformat"
        entry: mdformat
        language: system
        types: [markdown]
        alias: format
        stages: [pre-commit, pre-push, manual]

      - id: pretty-format-yaml
        name: "format: pretty-format-yaml"
        entry: pretty-format-yaml --autofix --indent 2 --offset 2 --preserve-quotes
        language: system
        types: [yaml]
        alias: format
        stages: [pre-commit, pre-push, manual]

      - id: format-locales
        name: "format: locales json"
        entry: python scripts/format_locales.py
        language: system
        types: [json]
        files: ^src/pdf_toolbox/locales/.*\.json$
        pass_filenames: false
        alias: format
        stages: [pre-commit, pre-push, manual]

      - id: pytest
        name: "tests: pytest"
        entry: pytest -n auto -q --timeout=120 --maxfail=1 --durations=0 --durations-min=0.75 --cov=pdf_toolbox --cov-report=xml --cov-report=term-missing
        language: system
        types: [python]
        pass_filenames: false
        alias: tests
        stages: [pre-commit, pre-push]

      - id: coverage-per-file
        name: "tests: check-coverage"
        entry: python scripts/check_coverage.py
        language: system
        types: [python]
        pass_filenames: false
        alias: tests
        stages: [pre-commit, pre-push]
