name: CI

on:
  pull_request:

permissions:
  contents: read

jobs:
  build:
    env:
      QT_QPA_PLATFORM: offscreen
    runs-on: ${{ matrix.os }}
    strategy:
      matrix:
        os: [ubuntu-latest, macos-latest, windows-latest]
    steps:
      - uses: actions/checkout@08eba0b27e820071cde6df949e0beb9ba4906955 # v4.3.0
      - uses: actions/setup-python@e797f83bcb11b83ae66e0230d6156d7c80228e7c # v5.0.0
        with:
          python-version: "3.13"
      - name: Install dependencies
        run: |
          python -m pip install --upgrade pip
          pip install ".[dev]"
      - name: Pre-commit
        shell: bash
        run: pre-commit run --all-files || pre-commit run --all-files
      - name: Build
        run: python -m compileall .
